.cards-group {
  &_4 {
    .cards-group__item {
      flex-basis: 100%;
      padding-left: 10px;
      padding-right: 10px;
      margin-bottom: 20px;
    }
  }

  &-wrapper {
    display: flex;
    flex-wrap: wrap;
    margin-left: -10px;
    margin-right: -10px;
  }
}

@media screen and (min-width: $screen-xs) {
  .cards-group {
    &_4 {
      .cards-group__item {
        flex-basis: 50%;
      }
    }
  }
}

@media screen and (min-width: $screen-lg) {
  .cards-group {
    &_4 {
      .cards-group__item {
        flex-basis: 25%;
      }
    }
  }
}
